{{#extend 'headfiles'}}
    <link rel="stylesheet" type="text/css" href="stylesheets/commonStyle.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/myClass/functionBalls.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/myClass/window.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/partials/functionBalls/messagesBall.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="javascripts/partials/functionBalls/messagesBall.js"></script>
{{/extend}}
<div class="partials_functionBalls_messagesBall_ball myClass_functionBalls_ball">
    <span></span>
</div>
<div class="partials_functionBalls_messagesBall_interface myClass_functionBalls_interface">
    <div class="partials_functionBalls_messagesBall_interface_lists myClass_window">
        <div class="myClass_window_controls"><span></span><span></span><span></span></div>
    </div>
    <div class="partials_functionBalls_messagesBall_interface_sessions"></div>
    <div class="partials_functionBalls_messagesBall_interface_interaction"></div>
</div>