/*designed by 1em=10px*/

.myClass_window{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*.myClass_window_controls{*/
    /*display: flex;*/
    /*position: relative;*/
    /*width: 60%;*/
    /*border-top:solid grey 2em;*/
    /*border-left: solid transparent 1em;*/
    /*border-right: solid transparent 1em;*/
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
/*}*/

/*.myClass_window_controls>span{*/
    /*display: flex;*/
    /*position: relative;*/
    /*height: 1.6em;*/
    /*width: 1.6em;*/
    /*border-radius: 50%;*/
    /*background: white;*/
    /*flex-direction: row;*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/