{{#extend 'headfiles'}}
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/stylesheets/partials/cards/bbs.css">
{{/extend}}
<div class="bbs myClass_card">
    <span class="bbs_title myClass_card_title"><span>BBS</span></span>
    <div class="bbs_options myClass_card_options ">
        <span class="bbs_options_button universe_card_options_button">CSS</span><span class="bbs_options_button universe_card_options_button">HTML5</span><span class="bbs_options_button universe_card_options_button">ES6</span><span class="bbs_options_button universe_card_options_button ">C11</span>
    </div>
    <div class="bbs_box myClass_card_box">
        ppx
    </div>
</div>