{{#extend 'cssFiles'}}
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/stylesheets/partials/cards/feedback.css">
{{/extend}}
{{#extend 'scripts'}}
    <script src="http://localhost:3000/javascripts/partials/cards/feedback.js"></script>
{{/extend}}
<div class="feedback myClass_card">
    <span class="feedback_title myClass_card_title"><span>Feedback</span></span>
    <div class="feedback_box myClass_card_box">
        <div class="feedback_box_default">
            <a target="_blank" href="http://www.baidu.com">Message</a>
            <a target="_blank" href="http://www.baidu.com">E-Mail</a>
        </div>
        <div class="feedback_box_settings">
            <span>Minimize</span><span>Hide</span><span>More</span>
        </div>
    </div>
</div>