{{#extend 'headfiles'}}
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/stylesheets/partials/cards/michael.css">
{{/extend}}
<div class="michael myClass_card">
    <span class="michael_title myClass_card_title"><span>Michael</span></span>
    <div class="michael_options myClass_card_options">
        <span class="michael_options_button universe_card_options_button">ON</span><span class="michael_options_button universe_card_options_button">OFF</span>
    </div>
    <div class="michael_box myClass_card_box">
        <div class="michael_box_talk">
            <div class="michael_box_talk_screen">
                <span>Hello,this is michael.</span>
                <span>Welcome to the Door!</span>
                <span>尝试CANVAS定义标题过渡动画</span>
            </div>
            <div class="michael_box_talk_input">
                <input type="text" id="michael_input"><button id="michael_submit"></button>
            </div>
        </div>
    </div>
</div>