{{#extend 'headfiles'}}
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/stylesheets/partials/cards/mTree.css">
{{/extend}}
<div class="mTree myClass_card">
    <span class="mTree_title myClass_card_title"><span>mTree</span></span>
    <div class="mTree_options myClass_card_options ">
        <span class="mTree_options_button universe_card_options_button ">Others</span><span class="mTree_options_button universe_card_options_button ">Mine</span>
    </div>
    <div class="mTree_box myClass_card_box">
        ppx
    </div>
</div>