{{#extend 'cssFiles'}}
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/stylesheets/partials/cards/starts.css">
{{/extend}}
{{#extend 'scripts'}}
    <script src="http://localhost:3000/javascripts/partials/cards/starts.js"></script>
{{/extend}}
<div class="starts myClass_card">
    <span class="starts_title myClass_card_title"><span>Starts</span></span>
    <div class="starts_options myClass_card_options ">
        <span class="starts_options_button universe_card_options_button ">Study</span><span class="starts_options_button universe_card_options_button ">Create</span>
    </div>
    <div class="starts_box myClass_card_box">
        <div class="starts_box_study">
            <span>Courses</span><span>Games</span><span>More</span>
        </div>
        <div class="starts_box_create">
            <span>Essays</span><span>Webs</span><span>More</span>
        </div>
    </div>
</div>