{{#extend 'headfiles'}}
    <link href=‘http://fonts.googleapis.com/css?family=Merienda+One’ rel=‘stylesheet’ type=‘text/css’>
    <link rel="stylesheet" type="text/css" href="stylesheets/commonStyle.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/mTown/BL.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/mTown/logo.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/mTown/bbs.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/mTown/time.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/mTown/places.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="javascripts/mTown/BL.js"></script>
    <script src="javascripts/mTown/time.js"></script>
    <script src="javascripts/mTown/places.js"></script>
{{/extend}}
{{>messagesBall}}
<div class="mTown_logo">{{>mTownLogo}}</div>
<div class="mTown_bbs">
    <div class="mTown_bbs_header">
        Welcome Word
    </div>
    <div class="mTown_bbs_body">
        Hello!Welcome to mTown.<br>
        This is a place for one to manage and develop his skills.<br>
        <br>
        Through my study, I see more about the world and its laws.<br>
        I have my own ideas about the universe and human beings.<br>
        <br>
        I believe that all babies are most potential for whole population,thus I wanna to build a system that helps transfer knowledge.<br>
        There are a number of websites focus on this aim,but they are not good enough.<br>
        That's why I build mTown.<br>
    </div>
</div>
<div class="mTown_time">
    <span class="mTown_time_background"><canvas></canvas></span>
    <span><!--y/m/d--></span>
    <!--<span><span></span></span>-->
</div>
<div class="mTown_places">
    <span><span></span>Places</span>
    <span><span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></span>Home</span>
    <span><span></span>mClubs</span>
    <span><span></span>mForests</span>
    <span><span></span>mPub</span>
    <span><span></span>Games</span>
</div>