<!DOCTYPE html>
<html xmlns:card>
<head>
    <title>{{title}}</title>
    {{{block 'headfiles'}}}
    <style type="text/css">
        card/:card{}
    </style>
</head>
<body >
{{{body}}}
</body>
</html>